body {
	margin: 0;
}

#header {
	background-color: #eee;
	border-bottom: 2px solid #ddd;
	padding: 10px;
}

#titleDiv {
	font-size: 36px;
	display: block;
	margin: 0 auto;
	width: 1300px;
	height: 40px;
}

#settings {
	right: 0;
	text-align: right;
}


#loading {
	height: 30px;
	display: none;
}

#content {
	margin: 10px auto;
	width: 1300px;
	overflow: auto;
	display: table;
}

#originalImage {
	float: left;
}

#outputImage {
	float: right;
}

.imageContainer {
	padding: 10px;
	border: 2px solid #ddd;
	max-width: 450px;
	margin: 10px auto;
	display: table-cell;
}

.imageDisplay {
	border: 1px solid #ddd;
	margin: 0 auto;
	padding: 5px;
	display: block;
}

#paletteContainer {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: table-cell;
}

.actionBtn {
	font-size: 24px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

#transfer {
	margin-top: 50px;
}

#colorContainer {
	width: 167px;
	height: 160px;
	margin: 0 auto;
	padding: 5px;
	text-align: center
}


input.color {
	margin: 1px;
	cursor: pointer;
	border-radius: 5px;
}
